<div class="profile-container">
  {{{SidePanel}}}
  <div class="main-panel">
    {{{Avatar}}}
    <h1 class="name">{{profileData.firstName}}</h1>

    <form id="formProfile">
      <div class="fields-block">

        {{#if isChangePasswordMode}}
          {{{ProfileInputOldPassword}}}
          {{{ProfileInputNewPassword}}}
          {{{ProfileInputRepeatNewPassword}}}
        {{else}}
          {{{ProfileInputEmail}}}
          {{{ProfileInputLogin}}}
          {{{ProfileInputFirstName}}}
          {{{ProfileInputSecondName}}}
          {{{ProfileInputDisplayName}}}
          {{{ProfileInputPhone}}}
        {{/if}}

      </div>

      {{#if isWithSaveButton}}
        <div class="button-wrapper">{{{Button}}}</div>
      {{else}}
        <div class="links-block">
          {{{LinkChangeData}}}
          {{{LinkChangePassword}}}
          {{{LinkExit}}}
        </div>
      {{/if}}

    </form>

  </div>

</div>