<div class="registration-container">
  <h1 class="title">Регистрация</h1>
  <form class="form-registration" action="submit" id="formRegistration">
    <div class="fields-block">
      {{{FormInputEmail}}}
      {{{FormInputLogin}}}
      {{{FormInputFirstName}}}
      {{{FormInputSecondName}}}
      {{{FormInputPhone}}}
      {{{FormInputPassword}}}
      {{{FormInputRepeatPassword}}}
    </div>
    {{{Button}}}
    <div class="link-block">
      {{{Link}}}
    </div>

  </form>
</div>