<div class="chat-item">
  {{{Avatar}}}

  <div class="info-block">
    <div class="name">{{name}}</div>
    <div class="time">{{lastMessage.time}}</div>
    <div class="message">
      {{#if lastMessage.isSelf}}
        <b>Вы:</b>
      {{/if}}
      {{lastMessage.text}}
    </div>
    <div class="counter-wrapper">
      {{#if unreadCount}}
        <div class="counter">
          {{unreadCount}}
        </div>
      {{/if}}
    </div>
  </div>

</div>
