<div class="chat-body">
  <div class="header">
    {{#if chat.chatName}}
      {{{Avatar}}}
    {{/if}}
    <div>{{chat.chatName}}
      {{#if chat.chatName}}
        <div class="subtitle">
          Участники:
          {{chat.chatUsers}}
        </div>
      {{/if}}</div>
    {{#if chat.chatName}}
      {{{Dropdown}}}
    {{/if}}
  </div>
  {{#if chat.chatName}}
    <div class="message-list">{{{MessageList}}}</div>
    <div>{{{MessageInput}}}</div>
  {{/if}}
</div>
