<div class="profile-field">
    <label class="label" for="{{name}}">{{label}}</label>
    <input class="input" type="{{type}}" name="{{name}}" id="{{name}}" placeholder="{{label}}" value="{{value}}" required {{disabled}}/>
</div>
