<div class="field">
  <label class="label" for="{{name}}">{{label}}</label>
  <input
    class="input"
    type="{{type}}"
    name="{{name}}"
    id="{{name}}"
    placeholder="{{label}}"
    value="{{value}}"
    required
  />
  {{#if error}}
    <span class="error">{{error}}</span>
  {{/if}}
</div>